.app {
  position: absolute;
  top: 0;
  width: 100vw;
  height:fit-content;
  background: #000000;
  
}

body {
  overflow-x: hidden;
}


.canvas-container, .logo-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: #000000;
  z-index: -1;
}



.App-logo {
  height: 40vmin;
  width: 40wmin;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 2s ;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 2s;
  z-index: 300;
}

.hidden {
  display: none;
}

/* Canvas {
  position: relative;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
} */

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 45%;
  max-height: 45%;
}

.logoFull{
  width: 13%;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;

}

.logoPetit{
  width: 30%;
}

.fade-out {
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1s linear;
  }
} */

header {
  position: fixed;
  background-color: #ffffff;
  
  min-height: 5vh;
  max-height: 15vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 500;
}

.App-link {
  color: #61dafb;
}

.escForm{
  max-height: 50%;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.dropdown{
  position: relative;
  width: fit-content;
  color: black;
  text-align: end;
  top: 0vh;
  right: 0;
  height: 5vh;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.recherche{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}



.menuDroit{
  height: 7vh;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 20px;
}

.popup-content button {
  padding: 10px 20px;
}

.custom-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  width: 600px; /* Ajustez cette valeur selon vos besoins */
  margin: 0 auto; /* Centrez le modal horizontalement */
  background-color: rgba(255,255,255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  
}

.message-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  width: fit-content;
  margin: 0 auto; /* Centrez le modal horizontalement */
  background-color: rgba(0,0,0);
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  
}

.message-modal-bienvenue{
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  width: fit-content;
  margin: 0 auto; /* Centrez le modal horizontalement */
  background-color: rgba(0,0,0);
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  
}


.monModal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  max-width: 75%;
  max-height: 75%;
  width: 500px; /* Ajustez cette valeur selon vos besoins */
  margin: 0 auto; /* Centrez le modal horizontalement */
  background-color: rgba(255,255,255,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}

.form-group{
width: 100%;
}

 .modal-dialog-scrollable{
  position: relative;
  scroll-behavior: auto;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  max-width: 50%;
  max-height: 90%;
  border-radius: 1rem;
  
  padding: 0;
  background-color: rgba(255,255,255);
  overflow-y:auto;
}

.modal-dialog-details{
  position: relative;
  scroll-behavior: auto;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  max-width: 70%;
  height:90%;
  max-height: 100%;
  border-radius: 1rem;
  
  padding: 0;
  background-color: rgba(255,255,255);
  overflow-y:auto;
}

/* .custom-modal-dialog {
  max-width: 75%;
  overflow-y: scroll;
} */

.close-button {
  color: white;
  background-color: black;
  border:1px solid black;
  border-radius: 5px;
  
  font-weight: bold;
  padding: 0;

  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}


.btn{
  background-color: #ffffff;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

.btn:hover {
  background-color: #b4b4b4;
}

.globe:hover{
  background-color: #b4b4b4;
  color: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.globe{
  font-size: 1.5rem;
  background-color: #ffffff;
  color: black;
}

.first-photo {
  width:100%;
  border-radius: 5rem;
  margin-bottom: 1rem;
}

.subsequent-photo {
  width:100%;
  max-width: 50%;
  border-radius: 5rem;
  margin-bottom: 1rem;
 }

 /* img{
  border: 1px solid #000;
  border-radius: .5rem;

 } */

 .red-icon {
  color: rgb(255, 0, 0);
}

.hebergementsAll__container__item{
  cursor: pointer;
}



.react-datepicker__day--today-custom-1 {
  background-color: inherit;
}

.react-datepicker__day--highlighted-custom-1 {
  background-color: rgba(255, 0, 0, 0.5);
}

.react-datepicker__day-custom-1:hover {
  background-color: inherit;
  border-radius: 0;
}

.react-datepicker__navigation--previous {
  border-right-color: #000000;
}

.react-datepicker__navigation--next {
  border-left-color: #000000;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    filter: brightness(0%);
}

.react-datepicker__day--selected, 
.react-datepicker__day--selected:hover, 
.react-datepicker__day--keyboard-selected, 
.react-datepicker__day--keyboard-selected:hover {
    background-color: transparent !important;
    color: inherit !important;
}
 
.react-datepicker__day:hover, 
.react-datepicker__day--keyboard-selected:hover {
    background-color: transparent !important;
    color: inherit !important;
    border-radius: 0 !important;
}






